body {
    font-size: 20px;
    
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#welcome {
    color:firebrick;
    background-color: beige;
}

#aboutme {
    text-align: center;
}

.table {
    display: grid;
    background-color: dodgerblue;
    padding: 10px;
}

#intro:hover {
    color: green;
}

#one {
    color: blue;
}

#two {
    color: yellow;
}

#three {
    color: red;
}

#four { 
    color: purple;
}

#five {
    color: brown;
}